<% provide(:title, "Home") %>

  <div class="col-xs-4 alertdiv">
    <h1 class='boxh1'>Welcome to Winter Olympic Games Website</h1>
    <p class="boxparagraph">In this website you can view the results of different sportsmen who won medals in last 10 Winter Olympic Games</p>
  </div>

  