<% provide(:title, "Sports") %>

    <h1>Sports in Winter Olympics</h1>
    <div class = 'row'>
      <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=1&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram1.png' alt='Alpine skiing'><p style='1clear:both; font-size:16px;'>Alpine skiing</p></div></a>
      <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=2&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram2.png' alt='Biathlon'><p style='clear:both; font-size:16px;'>Biathlon</p></div></a>
      <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=3&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram3.png' alt='Bobsleigh'><p style='clear:both; font-size:16px;'>Bobsleigh</p></div></a>
    </div>
     <div class = 'row'>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=4&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram4.png' alt='Cross Country Skiing'><p style='clear:both; font-size:16px;'>Cross Country Skiing</p></div></a>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=5&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram5.png' alt='Curling'><p style='clear:both; font-size:16px;'>Curling</p></div></a>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=6&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram6.png' alt='Figure Skating'><p style='clear:both; font-size:16px;'>Figure Skating</p></div></a>
    </div>
    <div class = 'row'>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=7&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram7.png' alt='Freestyle Skiing'><p style='clear:both; font-size:16px;'>Freestyle Skiing</p></div></a>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=8&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram8.png' alt='Ice Hockey'><p style='clear:both; font-size:16px;'>Ice Hockey</p></div></a>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=9&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram9.png' alt='Luge'><p style='clear:both; font-size:16px;'>Luge</p></div></a>
    </div>
    <div class = 'row'>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=10&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram10.png' alt='Nordic Combined'><p style='clear:both; font-size:16px;'>Nordic Combined</p></div></a>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=11&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram11.png' alt='Short Track Speed Skating'><p style='clear:both; font-size:16px;'>Short Track Speed Skating</p></div></a>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=12&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram12.png' alt='Skeleton'><p style='clear:both; font-size:16px;'>Skeleton</p></div></a>
    </div>
    <div class = 'row'>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=13&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram13.png' alt='Ski Jumping'><p style='clear:both; font-size:16px;'>Ski Jumping</p></div></a>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=14&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram14.png' alt='Snowboard'><p style='clear:both; font-size:16px;'>Snowboard</p></div></a>
       <a href = '/charts/sports_chart?utf8=✓&sport%5Bid%5D=15&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='pictogram15.png' alt='Speed Skating'><p style='clear:both; font-size:16px;'>Speed Skating</p></div></a>
    </div>
