<p id="notice"><%= notice %></p>

<p>
  <strong>Sport name:</strong>
  <%= @sport.sport_name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @sport.category %>
</p>

<%= link_to 'Edit', edit_sport_path(@sport) %> |
<%= link_to 'Back', sports_path %>
