<%= form_with(model: host, local: true) do |form| %>
  <% if host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year, id: :host_year %>
  </div>

  <div class="field">
    <%= form.label :host_city %>
    <%= form.text_field :host_city, id: :host_host_city %>
  </div>

  <div class="field">
    <%= form.label :host_country %>
    <%= form.text_field :host_country, id: :host_host_country %>
  </div>

  <div class="field">
    <%= form.label :number_of_events %>
    <%= form.number_field :number_of_events, id: :host_number_of_events %>
  </div>

  <div class="field">
    <%= form.label :nations_participating %>
    <%= form.number_field :nations_participating, id: :host_nations_participating %>
  </div>

  <div class="field">
    <%= form.label :number_of_athletes %>
    <%= form.number_field :number_of_athletes, id: :host_number_of_athletes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
