<% provide(:title, "Olympic Games Hosts") %>

  <h1>Host cities in Winter Olympics 1980-2014</h1>
    <div class = 'row'>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=1&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo1.png' alt='Lake Placid 1980'><p style='clear:both; font-size:16px;'>Lake Placid 1980</p></div></a>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=2&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo2.png' alt='Sarajevo 1984'><p style='clear:both; font-size:16px;'>Sarajevo 1984</p></div></a>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=3&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo3.png' alt='Calgary 1988'><p style='clear:both; font-size:16px;'>Calgary 1988</p></div></a>
    </div>
     <div class = 'row'>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=4&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo4.png' alt='Albertville 1992'><p style='clear:both; font-size:16px;'>Albertville 1992</p></div></a>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=5&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo5.png' alt='Lillehammer 1994'><p style='clear:both; font-size:16px;'>Lillehammer 1994</p></div></a>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=6&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo6.png' alt='Nagano 1998'><p style='clear:both; font-size:16px;'>Nagano 1998</p></div></a>
    </div>
    <div class = 'row'>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=7&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo7.png' alt='Salt Lake City 2002'><p style='clear:both; font-size:16px;'>Salt Lake City 2002</p></div></a>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=8&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo8.png' alt='Turin 2006'><p style='clear:both; font-size:16px;'>Turin 2006</p></div></a>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=9&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo9.png' alt='Vancouver 2010'><p style='clear:both; font-size:16px;'>Vancouver 2010</p></div></a>
    </div>
    <div class = 'row'>
      <a href = '/charts/hosts_chart?utf8=✓&host%5Bid%5D=10&commit=Display+Chart'><div style='text-align:center' class = 'col-sm-4'><img src='logo10.png' alt='Sochi 2014'><p style='clear:both; font-size:16px;'>Sochi 2014</p></div></a>
    </div>
