<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @host.year %>
</p>

<p>
  <strong>Host city:</strong>
  <%= @host.host_city %>
</p>

<p>
  <strong>Host country:</strong>
  <%= @host.host_country %>
</p>

<p>
  <strong>Number of events:</strong>
  <%= @host.number_of_events %>
</p>

<p>
  <strong>Nations participating:</strong>
  <%= @host.nations_participating %>
</p>

<p>
  <strong>Number of athletes:</strong>
  <%= @host.number_of_athletes %>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Back', hosts_path %>
