<table class= 'table table-hover'>
  <thead class = 'blue-grey lighten-4'>
    <tr>
      <th>Athlete surname</th>
      <th>Athlete forename</th>
      <th>Country</th>
      <th>Gender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.athlete_surname %></td>
        <td><%= athlete.athlete_forename %></td>
        <td><%= athlete.country %></td>
        <td><%= athlete.gender %></td>
        <td><%= link_to 'View Medals', athlete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>