<%= form_with(model: athlete, local: true) do |form| %>
  <% if athlete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(athlete.errors.count, "error") %> prohibited this athlete from being saved:</h2>

      <ul>
      <% athlete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :athlete_surname %>
    <%= form.text_field :athlete_surname, id: :athlete_athlete_surname %>
  </div>

  <div class="field">
    <%= form.label :athlete_forename %>
    <%= form.text_field :athlete_forename, id: :athlete_athlete_forename %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :athlete_country %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :athlete_gender %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
