<% provide(:title, "Athletes") %>

<style>
  .active-pink-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #f48fb1;
    box-shadow: 0 0 0 1px #f48fb1;
}
.active-pink-3 input[type=text] {
    border: 1px solid #f48fb1;
    box-shadow: 0 0 0 1px #f48fb1;
}

.mb-4 {
  width:240px;
  height: 50px;
  margin-bottom: 230px;
}

</style>

<h1>Athletes</h1>

<center>
<%= form_tag(athletes_path, method: :get, id: 'athletes_search') do %>
  <div class="active-pink-3 active-pink-4 mb-4">
    <%= label_tag 'Search by athletes surname:' %>
    <%= text_field_tag :athlete_surname, params[:athlete_surname] %>
    <%= label_tag 'Filter by country:' %>
    <%= select_tag 'country', options_for_select(Athlete.all.collect { |a| [ a.country] }.uniq),:prompt => 'Please select the country' %> 
    <%= label_tag 'Filter by gender:' %> 
    <%= label_tag 'Male' %>
    <%= radio_button_tag 'gender','Male' %>
    <%= label_tag 'Female' %>
    <%= radio_button_tag 'gender','Female'%>
    <%= submit_tag 'Search', name: nil %>
  </div> 
<% end %>

<div id = 'result'>
<%= render 'athletes' %>
</div>

</center>

<script type='text/javascript'>
$(function () {
  $('#athletes_search input').keyup(function () {
    $.get($("#athletes_search").attr("action"), $(this).serialize(), null, 'script');
    return false;
  });
});

</script>