<% provide(:title, "Athlete medals") %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Athlete surname:</strong>
  <%= @athlete.athlete_surname %>
</p>

<p>
  <strong>Athlete forename:</strong>
  <%= @athlete.athlete_forename %>
</p>

<p>
  <strong>Country:</strong>
  <%= @athlete.country %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @athlete.gender %>
</p>

<table class= 'table table-hover'>
  <thead class = 'blue-grey lighten-4'>
    <tr>
      <th>Host</th>
      <th>Sport</th>
      <th>Event</th>
      <th>Medal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @results_array = Result.where("athlete_id= ?", @athlete.id).pluck(:host_id, :sport_id, :event, :medal) %>
    <% @results_array.each do |result| %>
      <% @host_full = Host.find(result[0]).host_country + ',' + Host.find(result[0]).host_city + ',' + Host.find(result[0]).year.to_s %>
      <tr>
        <td><%= @host_full %></td>
        <td><%= Sport.find(result[1]).sport_name %></td>
        <td><%= result[2] %></td>
        <td><%= result[3] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="button">
  	<%= link_to 'Back', url_for(:back) %>
  </div>