<%= form_with(model: result, local: true) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :host_id %>
    <%= form.number_field :host_id, id: :result_host_id %>
  </div>

  <div class="field">
    <%= form.label :sport_id %>
    <%= form.number_field :sport_id, id: :result_sport_id %>
  </div>

  <div class="field">
    <%= form.label :athlete_forename %>
    <%= form.text_field :athlete_forename, id: :result_athlete_forename %>
  </div>

  <div class="field">
    <%= form.label :athlete_surname %>
    <%= form.text_field :athlete_surname, id: :result_athlete_surname %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :result_country %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :result_gender %>
  </div>

  <div class="field">
    <%= form.label :event %>
    <%= form.text_field :event, id: :result_event %>
  </div>

  <div class="field">
    <%= form.label :medal %>
    <%= form.text_field :medal, id: :result_medal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
