<p id="notice"><%= notice %></p>

<h1>Results</h1>

<table>
  <thead>
    <tr>
      <th>Host id</th>
      <th>Sport id</th>
      <th>Athlete id</th>
      <th>Event</th>
      <th>Medal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.host_id %></td>
        <td><%= result.sport_id %></td>
        <td><%= result.athlete_id %></td>
        <td><%= result.event %></td>
        <td><%= result.medal %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Result', new_result_path %>
