<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @result.host_id %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @result.sport_id %>
</p>

<p>
  <strong>Athlete forename:</strong>
  <%= @result.athlete_forename %>
</p>

<p>
  <strong>Athlete surname:</strong>
  <%= @result.athlete_surname %>
</p>

<p>
  <strong>Country:</strong>
  <%= @result.country %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @result.gender %>
</p>

<p>
  <strong>Event:</strong>
  <%= @result.event %>
</p>

<p>
  <strong>Medal:</strong>
  <%= @result.medal %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
