<% provide(:title, "Facebook Feed") %>

<h1>Facebook Feed</h1>
<div id="fb-root"></div>
<script>
  	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=1879133848828174&autoLogAppEvents=1';
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));



    setInterval(function() {
       $('#myfbdiv').html('<div class="fb-page" data-href="https://www.facebook.com/Olympics" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Olympics" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Olympics">Olympic</a></blockquote></div>')
       FB.XFBML.parse();
        console.log("update facebook timeline after each minute");
        
    }, 60000);
    
</script>

<center>
<div id = "myfbdiv">
<div class="fb-page" data-href="https://www.facebook.com/Olympics" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Olympics" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Olympics">Olympic</a></blockquote></div></div>	
</center>
