<% provide(:title, "Column Chart Form") %>
<center>
	<h1>Column Charts</h1>
	<%= form_tag("/charts/hosts_chart", method: "get") do %>
	<div class="form-style-6">
		  <%= label_tag(:host, "Select host:") %>
		  <%= collection_select(:host, :id, Host.all, :id, :host_city, :prompt => true, :selected => 1 ) %>
		  <%= submit_tag("Display Chart") %>
		<% end %>
	</div>
</center>