<% provide(:title, "Column Chart") %>
<center>
<%= column_chart Host.pluck("host_city, nations_participating"),
	id: 'drivers_column_chart',
	width: "1000px",
	height: "500px", 
	title: "Number of nations participated in Winter Olympic Games 1980-2014",
	  colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
      '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#993300', '#666999', '#003300', '#0000cc', '#66ffcc'],
	  library: {
	  	yAxis: {
	  		title: {
	  			text: "Nations participated"
	  		},
            labels: {
               format: '{value} nations'
           }
       },
       xAxis: {
       		title: {
       			text: "Host Country"
       		}
       },
       plotOptions: {
       		column: {
       			colorByPoint: true
       		},
       		series: {
       			borderWidth: 0,
       			dataLabels:  {
       				enabled: true,
       				format: '{point.y} nations'
       			}
       		}
       },
	    tooltip: {
	      pointFormat: 'Nations participated in this Olympic Games: <b>{point.y}</b>'
	    },
	    series: [{
    		colorByPoint: true,
    		}]
  	}
 %>
<div style='padding-top:50px;'></div>

 <%= column_chart Host.pluck("host_city, number_of_athletes"),
  id: 'drivers_column_chart2',
  width: "1000px",
  height: "500px", 
  title: "Number of athletes participated in Winter Olympic Games 1980-2014",
    colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
      '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#993300', '#666999', '#003300', '#0000cc', '#66ffcc'],
    library: {
      yAxis: {
        title: {
          text: "Athletes participated"
        },
            labels: {
               format: '{value} athletes'
           }
       },
       xAxis: {
          title: {
            text: "Host Country"
          }
       },
       plotOptions: {
          column: {
            colorByPoint: true
          },
          series: {
            borderWidth: 0,
            dataLabels:  {
              enabled: true,
              format: '{point.y} athletes'
            }
          }
       },
      tooltip: {
        pointFormat: 'Athletes participated in this Olympic Games: <b>{point.y}</b>'
      },
      series: [{
        colorByPoint: true,
        }]
    }
 %>
</center>