<% provide(:title, "Column Chart") %>
<center> <div>

<%= column_chart Host.find(@host[:id]).results.column_chart,
    width: "700px", height: "600px",
   colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
      '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#993300', '#666999', '#003300', '#0000cc', '#66ffcc'],
   chart: {
      style: {
         fontFamily: 'Dosis, sans-serif'
      }
   },
   title: {
      style: {
         fontSize: '16px',
         fontWeight: 'bold',
         textTransform: 'uppercase'
      }
   },
    title: 'Top 5 athletes who won most number of medals during Winter Olympics in ' + @host_name,
      library: {
        tooltip: {
          pointFormat: '{point.y} medals won'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
         }
        },
        series: [{
            colorByPoint: true,
            }]
      }
 %>
</div>

<div class="button">
  <a href="/hosts" class="btn btn-warning" role="button">Back</a>
</div>
</center>

