<% provide(:title, "Bar Chart") %>
<center>
<%= bar_chart Athlete.most_medals,
	id: 'medals_bar_chart',
	width: "1000px",
	height: "500px", 
	title: "Top 10 Athletes who won most number of total medals during Winter Olympics 1980-2014",
	  library: {
	  	yAxis: {
	  		title: {
	  			text: "Medals won"
	  		},
            labels: {
               format: '{value} medals'
           }
       },
       xAxis: {
       		title: {
       			text: "Athlete"
       		}
       },
       plotOptions: {
       		series: {
       			borderWidth: 0,
       			dataLabels:  {
       				enabled: true,
       				format: '{point.y} medals'
       			}
       		}
       },
	    tooltip: {
	      pointFormat: 'Medals won by this athlete: <b>{point.y}</b>'
	    }
  	}
 %>
</center>