<% provide(:title, "Pie Chart Form") %>
<center>
	<h1>Pie Charts</h1>
	<%= form_tag("/charts/sports_chart", method: "get") do %>
	<div class="form-style-6">
		  <%= label_tag(:sport, "Select sport:") %>
		  <%= collection_select(:sport, :id, Sport.all, :id, :sport_name, :prompt => true, :selected => 1 ) %>
		  <%= submit_tag("Display Chart") %>
		<% end %>
	</div>
</center>