<% provide(:title, "Pie Chart") %>
<center> <div>

<%= pie_chart Sport.find(@sport[:id]).results.pie_chart,
    width: "700px", height: "600px",
   colors: ['#7cb5ec', '#f7a35c', '#90ee7e', '#7798BF', '#aaeeee', '#ff0066',
      '#eeaaee', '#55BF3B', '#DF5353', '#7798BF', '#993300', '#666999', '#003300', '#0000cc', '#66ffcc'],
   chart: {
      style: {
         fontFamily: 'Dosis, sans-serif'
      }
   },
   title: {
      style: {
         fontSize: '16px',
         fontWeight: 'bold',
         textTransform: 'uppercase'
      }
   },
    title: 'Top 5 athletes who won most number of medals in ' + @sport_name +' during Winter Olympics 1980-2014',
      library: {
        tooltip: {
          pointFormat: '{point.y} medals won'
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
         }
        },
       legend: {
            title: {
                text: '<span style= "color:#000"><b>Athlete</b><br></span><br/><span style= "font-size: 9px; color: #666; font-weight: normal">(Click to hide)</span>',
                style: {
                    fontStyle: 'italic'
                }
            },
            enabled: true,
            layout: 'vertical',
            align: 'right',
            width: 200,
            verticalAlign: 'middle',
            useHTML: true,
            symbolPadding: 5,
            symbolWidth: 30
        },
        series: [{
            colorByPoint: true,
            }]
      }
 %>
</div>

<div class="button">
  <a href="/sports" class="btn btn-warning" role="button">Back</a>
</div>
</center>

