<style type="text/css">
	.bars tr td {
		font-size: 15px;
	}

</style>

<% unless cart.line_items.empty? %>
	<h2>Your Cart</h2>
	<table class='bars table table-bordered'>
	 <%= render(cart.line_items) %>

	<tr class="total_line">
	<td colspan="2">Total</td>
	<td class="total_cell"><%= quid(cart.total_price) %></td>
	</tr>
	</table>

	 <center><div style="width:30%">
	 <%= button_to "Checkout", new_order_path, method: :get, class: 'btn btn-md btn-success' %>
	 <br>
	 <%= button_to 'Empty cart', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-md btn-warning' %>
	 </div>
	 </center>
 <% end %>