<div id = 'cart' <% if @cart.line_items.empty? %>
                  style="display: none"
                <% end %>
                >
                  <% if @cart %>
                    <%= render @cart %>
                  <% end %>
                </div>
                