@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body.events_chart, body.medals_chart, body.sports_chart, body.hosts_chart {
  padding-top: 60px;
  background: image-url("background3.jpg") no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center center;
}

body.sports, body.index, body.show, body.new, body.create, body.edit, body.about, body.not_found {
  padding-top: 60px;
  background-color:#ffffcc;
 }
 
body.home {
  padding-top: 60px;
  background: image-url("background.jpg") no-repeat;
  background-size: cover;
  background-attachment:fixed;
  background-position:center center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
} 

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}


p {
  font-size: 5em;
  line-height: 1.7em;
}


/* header */

#logo {
  color: #fcc93f;
  padding-left: 80px;
  padding-top: 15px;
  font-weight: bold;
}

/* forms */

input, textarea, select, .uneditable-input {

  border: 1px solid #bbb;
  width: 50%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.button {
  padding: 25px
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* home page */

.alertdiv {
    width: 40%;
    height: 20%;
    color: white;
    text-align: center;
    background-color: white;
}
.boxh1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 42px; font-weight: normal; line-height: 48px; margin: 0; }

.boxparagraph { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 16px; margin-top: 10px; line-height: 32px; margin: 0 0 24px; }


@media  only screen and (max-width: 600px) {
  .boxh1 { font-size:20px;}
  .boxparagraph { font-size: 10px;
   }
   .alertdiv {
    width:80%;
   } 
  }

/* footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #767575;
    color: white;
    text-align: center;
}

.footer p{
  font-size:14px;
  padding-top: 10px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    background:white;
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
