<% provide(:title, "Shopping Catalog") %>

<style>
.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
	display: flex;
	flex-direction: column;
}

.shopdiv {
	border:2px solid #663300;
	padding: 20px;
	margin: 40px;
	text-align: center;
	background:white;
}
</style>

<h1>Shopping Catalog</h1>

<div id = 'cart'>
	<% if @cart %>
		<%= render @cart %>
	<% end %>
</div>

<% cache @products do %>
	<div class = 'row display-flex'>	
		<% @products.each do |product| %>	
			<% cache product do %>
				<div class = 'col-sm-5 shopdiv'>
					<%= image_tag(product.image_url) %>
						<p style = "font-family: 'Raleway',sans-serif; font-size: 22px; font-weight: 500; margin: 10px 0 24px;"><%= product.title %></p>
						<p style = "font-family: 'Raleway',sans-serif; font-size: 16px; font-weight: 500; margin: 10px 0 24px;"><%= sanitize(product.description) %></p>
						<div class="price_line">
							<span class="price" style = "font-family: 'Raleway',sans-serif; font-size: 15px; font-weight: bold; margin: 0 0 24px;">Price:<%= quid(product.price) %></span>
							<div class="button">
								<%= button_to 'Add to Cart',  line_items_path(product_id: product), remote: true, class: 'btn btn-primary btn-md'%>
							</div>
						</div>	
				</div>
			<% end %>
		<% end %>			
	</div>
<% end %>
