<style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #767575;
    color: white;
    text-align: center;
}

.footer p{
	font-size:14px;
	padding-top: 10px;
}
</style>

<div class="footer">
  <p>Winter Olympic Games Website. Created By: Alga Abilesh. All rights reserved, 2018</p>
</div>