<header class="navbar navbar-fixed-top navbar-inverse headerdiv">
  <a href= "/" class="navbar-brand third after" id="logo">Winter Olympic Games Website</a>
  <nav>
    <div class="container">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        
       
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                  <% if logged_in? %>
                <li><a href="/sports">Sports</a></li>
                <li><a href="/hosts">Olympic Games Hosts</a></li>
                <li><a href="/athletes">Athletes</a></li>
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Charts
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/columncharts">Column Charts</a></li>
                    <li><a href="/barchart">Bar Chart</a></li>
                  </ul>
                </li>
                <li><a href="/facebook">Facebook Feed</a></li>
                <li><a href="/store">Store</a></li>
                <% if current_user.admin? %>
                  <li><a href="/products">Add products</a></li>
                <% end %>
                <li><%= link_to "Users", users_path %></li>
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                  </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                   <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Log out", logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
              <% else %>
                <li><a href="/signup">Sign up</a></li>
                <li><%= link_to "Log in", login_path %></li>
              <% end %>
            </ul>
        </div>
    </div>
  </nav> 
</header>